/* 
blue-green: #439187

font-family: 'Tenor Sans', sans-serif;

small: 576px
medium: 768px
large: 992px
*/



*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: 'Prata', san-serif;
}
html {
    scroll-behavior: smooth;
}
h1 {
    display: none;
}

/* ----- NAVIGATION ----- */
.navbar {
    background-color: #000!important;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
.active {
    background-color: #439187;
    color: #fff;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.nav-item {
    padding: 0 15px;
}
nav a:hover {
   color: #439187!important;
}
nav .active a:hover {
    color: #fff!important;
}
.navbar-toggler {
    background-color: #fff;
}
.dropdown-menu.show {
    background-color: #000;
}
a.dropdown-item {
    color: #fff;
}
.top {
    text-align: center;
    margin: 20px;
}
.top a {
    color: #808080;
}
.top a:hover {
    color: #fff;
    background-color: #439187;
}

/* ----- MAIN HEADINGS ----- */
.main-heading {
    text-align: center;
    background-clip: content-box;
    padding-top: 20px;
}

/* ----- ABOUT ----- */
.about {
    text-align: center;
    background-clip: content-box;
    padding: 0 50px 25px 50px;
}
hr {
    border-top: .5px dashed #000;
    width: 75%;
}
.btn-primary {
    background-color: #439187;
    border-color: #439187;
}
.btn-primary:hover {
    background-color: #808080;
    border-color: #808080;
}
.btn-outline-secondary {
    color: #439187;
    border-color: #439187;
}
@media screen and (max-width: 768px) {
    .btn-outline-secondary {
        margin-bottom: 15px;
    }
}
.card {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
@media screen and (min-width:576px) {
    .card_gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
}

/* ----- MENU ----- */
.menu_heading {
    margin-top: 30px;
    text-align: center;
}
.line {
    margin-top: -50px;
}
@media screen and (min-width: 576px) {
    .line {
        width: 75%;
    }    
}
.menu_heading h2 {
    margin-top: -15px;
    text-transform: uppercase;
}
.menu_heading ul {
    list-style-type: none;
}
.menu {
    text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu li {
    margin: 10px 0;
    line-height: 1.2em;
}
@media screen and (max-width: 992px){
    .menu img {
        width: 75%;
    }
}    
@media screen and (min-width: 992px) {
    .menu img {
        width: 50%;
    }
 }
.list-group-item {
    border: none;
    padding: 0;
}

/* ----- CSS grid gallery adapted from Rachel Andrew ----- */
/* keeps the images from leaking out of the containers */
.gallery_wrapper img {
    max-width: 100%;
    height: auto;
}
.example-image-link {
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* establishes a maximum width for the wrapper and centers it */
.gallery_wrapper {
    max-width: 940px;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
}

/* applies all these styles to all children the wrapper. * is the universal selector */
.gallery_wrapper > * {
    background-color: #fff;
    border: .5px solid #808080;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}

/* no grid support? */
/* this allows the use of flexbox in case CSS Grid is not supported by the user's browser */
.gallery_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.gallery_wrapper {
    /* this makes the container into a grid container*/
    display: grid;
    /* this puts 10px of space between the grid items*/
    grid-gap: 10px;
    /*this will create as many columns as will fit, with a minimum size of 200px, as a max of 1fr, which in this case is 100% */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* this creates automatic rows as needed that will be between 150px and auto in height */
    grid-auto-rows: minmax (100px, auto);
}

/* needed for the flex layout in case Grid isn't working*/
.example-image-link {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
}
.gallery_wrapper a:hover {
    color: #808080;
}

/* ----- END OF CSS GRID GALLERY ----- */


/* ----- FOOTER ----- */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    background-clip: content-box;
}
.footer, .copyright {
    background-color: #000;
    color: #fff;
    text-align: center;
    background-clip: content-box;
    margin: auto;
}
#contact {
    padding-top: 20px;
}
#copyright {
    padding-bottom: 20px;
}
.info {
    margin-top: 20px;
}
iframe {
    width: 100%;
    margin: 10px auto;
}
.logo_black {
    width: 75%;
    margin: 20px auto;
}
.address {
    color: #fff;
}
.address:hover {
    color: #439187;
}